.skills-container {
  padding: 40px;
  border-radius: 10px;
  overflow: hidden;
}

.skillsListContainer {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  padding: 20px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
  text-align: center;
  border-radius: 8px;
  opacity: 0;
}

.skill:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.myh5 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.skillDesc {
  font-size: 1.2rem;
  color: #ffffff;
  border-top-width: 3px !important;
  border-top-color: white !important;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .skillsListContainer {
    flex-direction: column;
  }

  .skill {
    width: 100%;
    margin: 10px 0;
  }

  .myh5 {
    font-size: 1.5rem;
  }

  .skillDesc {
    font-size: 1rem;
  }
}
